body{
    margin:0px;
    font-family: 'Gruppo', cursive;
    /* font-size:2rem; */
    margin-top:10px;
    background-color:grey;

}
#case{
    height:560px;
    width:400px;
    border:1px solid black;
    margin:auto;
    
    padding:10px;
    text-align:center;
    border-radius:16px;
    background-color:#2B2B2B;
    box-shadow: 2px 2px 3px #000000;
    color:white;

}
#screen{
    height:140px;
    width:100%;
    /* border:1px solid white; */
    margin:auto;
    margin-bottom:10px;
    border-radius:16px;
    background-color:rgb(59,59,59);
    color:white;
    line-height:40px;
    /* text-align:right; */

}

.row{
    height:70px;
    display: flex;
    gap:2px;
    justify-content:space-around;
    /* text-align:center; */
    
}
.button{
    height:60px;
    line-height:60px;
    width:15%;
    text-align:center;
    justify-content:middle;
    /* border:1px solid black; */
    background-color:rgb(102,102,102);
    border-radius:400px;
    box-shadow: 2px 2px 3px #000000;
}
.button:hover{
box-shadow: 0 12px 18px -6px black;
}